<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
            crossorigin="anonymous">
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Template Ejs</h1>
            <ul>
                <% competences.forEach(function(competence) { %>
                    <li>
                        <%= competence.name %> -

                            <% for(var i = 0; i < competence.niveau; i++) { %>
                                <i class="fas fa-star"></i>
                                <% } %>
                    </li>
                    <% }); %>
                   
            </ul>
        </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>